@import '~antd/dist/antd.css';


.body-screen {
  padding-top: 15vmin;
  padding-left: 11.6vmin;
  padding-right: 11.6vmin;
}

/* SET FONT */
* {
  font-family: 'Montserrat';
  color: black;
}
/* SET FONT end */

/* Page Background */

.background {

  background-color: #f4f3f3;
  ;
}

/* Header style */

/* Logo MyDomos */

.header-container {
  background-color: #f4f3f3;
  height: 14vmin;
  position:fixed;
  top: 0;
  z-index: 1;
  padding-top: 1vmin;
  width: 100%
}
.header-logo {
  display: flex;
  align-items: center;
}

.logo {
  height: 6.6vmin;
  margin: 3vmin;
  padding-left: 1vmin;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.logo:hover {
  -webkit-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3);
  cursor: pointer;
}

.header-title {
  font-size: calc(5px + 2vmin);
  color: black;
  font-weight: 500;
  border: 0;
}

/* Menu lang */

.header-lang {
  color: #6b696a;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: calc(3px + 2vmin);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* Menu connexion */

.header-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 5vmin;
}

@media only screen and (max-width: 576px) {
  .header-menu {
      display:none;
  }
}

.picto {
  height: 6vmin;
  width: 6vmin;
  padding: 0.13vmin;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.picto:hover {
  -webkit-transform: scale(1.45, 1.45);
  transform: scale(1.45, 1.45);
  cursor: pointer;
}
 
.picto-background {
  height: 8vmin;
  width: 8vmin;
  padding: 1.2vmin;
  background-color:#f4f3f3;
  border-radius: 50%;
  margin-right: 4vmin;
}

/* Navigation mobile */


.navigation-menu {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
  min-height: 16vmin;
  position:fixed;
  bottom: 0;
  width: 100%;
}

.navigation-menu-padding {
  background-color: #B5ACAC;
  min-height: 16vmin;
  width: 100%;

}

@media only screen and (min-width: 576px) {

  .navigation-menu {
      display:none;
  }
}

.nav-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-picto {
  height: 7vmin;
  width: 7vmin;
  padding: 0.5vmin;
}

.picto-title {
  color: #6b696a;
  font-family: "Montserrat";
}

/* Import font Montserrat */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap');

/* Page START */


/* breaking-visits */


.breaking-visits {

  padding-left: 11.6vmin;
  padding-right: 11.6vmin;
}


/* Main caption */

.main-caption {
  margin-left: 2vmin;
  padding-top: 6vmin;
  padding-bottom: 6vmin;
  display: flex;
  align-items: center;
}

.main-caption-text {
  width: 50%;
  padding-top: 6vmin;
  padding-bottom: 6vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-caption-image {

  width: 50%;
  display: flex;
  justify-content: center;
  padding-top: 6vmin;
  padding-bottom: 6vmin;
}

.hand {

  height: 34vmin;
  

}


/* @keyframes rotating {
  from{
      -webkit-transform: rotate(0deg);
  }
  to{
      -webkit-transform: rotate(5deg);
  }
}

.hand {
  transform-origin: 50% 50%;
  
  animation: rotating 1s infinite;
  animation-direction: alternate;
  
}  */

@keyframes pop { 
  0%   {transform: scale(1)  rotate(0deg);}
  25%  {transform: scale(1.18) rotate(7deg);}
  40%  {transform: rotate(0deg);}
  60%  {transform: rotate(-7deg);}
  85%  {transform: rotate(10deg);}
  90%  {transform: rotate(0deg);}
  95%  {transform: rotate(5deg);}
  100% {transform: rotate(0deg);}
}

.hand{    
  animation: pop 4s alternate ease-out;
  animation-delay: 0.3s;

}

/* Middle caption */

.middle-caption {

  padding-top: 6vmin;
  padding-bottom: 6vmin;
  padding-left: 11.6vmin;
  padding-right: 11.6vmin;
  display: flex;
  align-items: center;
  background-color: #E0DCDC;
  margin-top: 10vmin;
  margin-bottom: 10vmin;
}

.middle-caption-text {

  padding-bottom: 6vmin;

}

.middle-caption-text-button {

  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 6vmin;
  padding-bottom: 6vmin;
  padding-left: 2vmin;

}

.middle-caption-image {

  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 6vmin;
  padding-bottom: 6vmin;
}

.middle-caption-title {

    font-size: calc(5px + 5.8vmin); 
    font-weight: 510;
    color:rgb(43, 18, 18);
  
}

.middle-caption-background {

  display: flex;
  justify-content: center;
  align-items: center;
  height: 66vmin;
  width: 66vmin;
  background-color: #f3f3f4;
  border-radius: 50%;

}

.headset {

  height: 44vmin;

}
/* Paris-visits */


.paris-visits {

  padding-left: 11.6vmin;
  padding-right: 11.6vmin;
}

/* Bottom caption */

.bottom-caption {
  margin-top: 10vmin;
  padding-top: 12vmin;
  padding-bottom: 12vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d0c3c3;

}
.closer {
  height: 24vmin;
}

.closer-title {
  font-size: calc(5px + 5.8vmin); 
  font-weight: 700;
  color:white;
  padding-top: 4vmin;
  padding-bottom: 3vmin;
}


/* INPUT START */

.input-container {
  width: 100%;
  border: 1px solid rgb(145, 145, 145);
  border-radius: 1px;
  padding: 4px;
  padding-left: 0.5em;
  transition: 0.1s ease-out;
}

::placeholder {
  font-size: 1.5vmin;
}

.input-container:hover {
  border: 1px solid #D35F5F;
}

.input-container:focus {
  outline: none;
  border: 1px solid #D35F5F;
  box-shadow: 0px 0px 0px 3px #7912122a;
}

.input-error {
  border: 1px solid rgb(255, 0, 0);
}

/* INPUT END */

/* FORM START */

.sign-body {
  /* min-width: 70vmin; */
  padding: 5vmin 0vmin 0vmin 0vmin;
  display: flex;
  width: 100%;
}

@media only screen and (max-width: 576px) {
  .sign-body {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .sign-form {
    padding-top: 10vmin;
  }
}



.form-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-top-container {
  width: 100%;
  margin-bottom: 1vh;
  padding-top: 2vh;
}

.form-top-container>.input-container {
  margin-bottom: 2vh;
}

.form-submit-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.form-button-container {
  display: flex;
}

.form-bottom-container {
  width: 100%;
  margin-top: 3vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* FORM END */


/* <---Start section BUTTON ---> */

/*BUTTON PRINCIPAL*/
.button-container {
  background-color: #791212;
  border: 0;
  margin: auto;
  min-width: 20vmin;
  min-height: 9vmin;
  cursor: pointer;
  transition: 0.2s ease-out;
}

.button-container>p {
  font-size: 3vmin;
  font-weight: 500;
  color: white;
  margin: auto;
  
}

.button-container:hover {
  background-color: #a81c1c;
  display: 'inline-block';
  cursor: pointer;
} 

.button-container:active {
  background-color: #791212;
  transition: 'transform .13s';
}

.button-container:focus {
  outline: none;
}

/*BUTTON LIGHT*/

.button-light {
  background-color: #f3f3f4;
  border: 0;
  margin: auto;
  min-width: 20vmin;
  min-height: 9vmin;
  transition: 0.2s ease-out;
}

.button-light>p {
  font-size: 3vmin;
  font-weight: 500;
  color:#270b0b;
  margin: auto;
  
}

.button-light:hover {
  background-color: #ffffff;

  display: 'inline-block';
  cursor: pointer;
} 

.button-light:active {
  background-color: #f3f3f4;
  transition: 'transform .13s';
}

.button-light:focus {
  outline: none;
}



/*BUTTON OK*/
.okbtn-container { 
  background-color: #791212;
  border: 0;
  color: white;
  border-radius: 50%;
  min-width: 7vmin;
  min-height: 7vmin;
  cursor: pointer;
  transition: 0.2s ease-out;
  margin-left: 4vmin; 
}

.okbtn-container:hover {
  background-color: #a81c1c;
  display: 'inline-block';
} 

.okbtn-container:active {
  background-color: #791212;
  transition: 'transform .13s';
}

.okbtn-container:focus {
  outline: none
}

/* <---END section BUTTON  ---> */


/* <---Start section PARAGRAPHE ---> */
.paragraphe-container {
  max-width: 1140px;
  margin: auto;
}

/*TEXT*/

.Text {
  font-size: 1.243em;
}

.Text-link {
  font-size: 1.243em;
  color: #791212;
  text-decoration-line: underline;
}

.Text-link:hover {
  color: #C83737;
}
  .Text>p {
    font-size: 1.2413em;
      }

/*TITLE*/
.title-paragraphe-container {
  font-size: calc(5px + 5.5vmin); 
  font-weight: 700;
  margin-bottom: 0;
}
  
/*SUBTITLE*/
.subtitle-paragraphe-container {
  font-size: calc(5px + 2.5vmin); 
  font-weight: 500;
}
/* <---END section PARAGRAPHE  ---> */

/* START section CARD */

.card_row {
    display : flex;
    justify-content: space-between;
    
}

.card_col {
    margin: 2vmin;
    display: inline-block;
    text-decoration: none;
}

.card_link {
  color: black
}

.card_link:hover  {
  color: black
}

.card_info {
text-transform : uppercase;
font-weight: 500;
font-size: 2.2vmin;
margin-bottom: 1vmin;
}

.card_title {
    margin-top: 2vmin;
    font-weight: 550;
    font-size: 2.7vmin;
}

.card_pricerate {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card_price {
    font-weight: 500;
    font-size: 2.4vmin;
    align-self: center;
    margin-bottom: 0px
}

.card_img {
    width:100%;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.card_img:hover {
  -webkit-transform: scale(1.07, 1.07);
  transform: scale(1.07, 1.07);
}

.card_div_rate {
    display: flex;
    margin-left: 10px
}

.card_rate {
    width: 1.2vmin;
    height: 1.2vmin;
    margin-left: 1vmin
}
/* END section CARD */


/* START section SLIDER */
.scrolling-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin-right: 2vmin;
  -webkit-overflow-scrolling: touch;
}

.scrolling-wrapper::-webkit-scrollbar {
  background-color: transparent;
  height: 2vmin;
}

.scrolling-wrapper::-webkit-scrollbar-thumb {
  background-color: #e7e7e7;
  border-radius: 1vmin;
}

/* to hide the scrollbar */

/* .scrolling-wrapper::-webkit-scrollbar {
  display: none;
} */

.slider_rate {
  width: 1.2vmin;
  height: 1.2vmin;
  margin-left: 3px
}

.sliderTitle {
  font-size: 3.3vmin;
  font-weight: 510;
  margin-left: 2vmin;
  margin-bottom: 2vmin;
}

  /* END section SLIDER */


/* START section Footer */

.newsletter-container{
  display: flex;
  align-items: center;
  padding-top: 10vmin;
  padding-bottom: 10vmin;
  padding-left: 11.6vmin;
  padding-right: 11.6vmin;
}

.newsletter {

  width: 50%;
  padding-top: 6vmin;
  padding-bottom: 6vmin;

}

.newsletter-form {
  display: flex;
  align-items: center;
  padding-top: 3vmin;
}

.legs-container {
  width: 50%;
  padding-top: 2vmin;
  padding-bottom: 2vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.legs {

  width: 77vmin;
}


.footer-container {
  background-color: #B5ACAC;
  min-height: 66vmin;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

}

.socials-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials-button {

  height: 11.5vmin;
  width: 11.5vmin;
  padding: 2.5vmin;
  margin-top: 5vmin;
  margin-bottom: 5vmin;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.socials-button:hover {
  -webkit-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3);
  cursor: pointer;
}

.sleep {
  height: 27vmin;
  padding-top: 5vmin;
  padding-bottom: 3vmin;
}

@keyframes rotating {
  from{
      -webkit-transform: rotate(0deg);
  }
  to{
      -webkit-transform: rotate(4deg);
  }
}

.sleep {
  transform-origin: 80% 80%;
  animation: rotating 3s infinite;
  animation-direction: alternate;
}


.footer-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3vmin;
  color: #f4f3f3;
  padding: 3vmin;

}

.footer-title {
  font-size: 2.8vmin;
  color: #f4f3f3;
}

.copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* START screen ACCOUNT */


.my-account-main {

  display: flex;
  
}

.my-account {

  padding-left: 2vmin;
  padding-top: 4vmin;
  padding-bottom: 8vmin;
  width: 50%;
}

.my-avatar {

  padding-top: 4vmin;
  width: 50%;

}

.my-password {

  padding-top: 2vmin;
  padding-left: 2vmin;
  padding-bottom: 6vmin;
  width: 50%;
  
}

.grid-container {
  padding-top: 6vmin;
  display: grid;
  grid-template-columns: 40vmin 40vmin;
  padding-bottom: 8vmin;
}

.grid-item {
  margin-bottom: 2vmin;
  font-size: 13px
}


@media only screen and (max-width: 576px) {

  .grid-item {
    font-size: 10px;
  }
}



.accountUpdateInfo {
  width: 40vmin;
  margin-bottom: 3vmin
}

.account-info {
  font-weight: 300;
}

.account-info {
  font-weight: 300;
}

.account-subtitle {
  margin-top: 5vmin;
  margin-bottom: 3vmin
}

.avatar {
  display: flex;
  margin-top: 4vmin;
  margin-bottom: 4vmin
}

.picto-portrait {
  width: 35vmin ;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.background-wig {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vmin;
  width: 30vmin;
  background-color: #DACBCB;
  border-radius: 50%;
}

.background-wig:hover {
  background-color: #bda6a6;
}

.background-armor {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vmin;
  width: 30vmin;
  background-color: #B5ACAC;
  border-radius: 50%;
}

.background-armor:hover {
  background-color: #a39a9a;
}

.background-medusa {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vmin;
  width: 30vmin;
  background-color: #AA848B;
  border-radius: 50%;
}

.background-medusa:hover {
  background-color: #967878;
}

.picto-medusa {
  width: 35vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer
}

.account-password {
  display: flex
}

/* END screen ACCOUNT */

/* start SECTION SCREEN VISIT */
.col-visit{
  margin: 10px;
}

.img-column-visit {
  width: 130px ;
  height: 130px;
  margin: 1vmax;
}

.img-row-visit{
  width: 270px ;
  height: 270px;
  margin: 1vmax;
}

.fixed-menu-visit {
  background-color: #f4f3f3;
  height: 14vmin;
  position:fixed;
  bottom: 0;
  width: 100%;
  /* padding-bottom: 2.2vmin; A voir avec BEN */ 
}

@media only screen and (min-width: 576px) {
  .fixed-menu-visit {
      display:none;
  }
}

.menu-visit{
  justify-content: space-around;
  padding-bottom: 1vmax;
}

@media only screen and (max-width: 576px) {
  .menu-visit  {
      display:none;
  }
}
/* end SECTION SCREEN VISIT */

/* SIGN START */

/* SIGN END */

/*  START SUCCESS screen */
.bubble {
  height: 64vmin;
  margin-bottom: 3vmin;
  margin-top: 3vmin;
}

.success-container{
  justify-content: center;
  margin-bottom: 10vmin;
}

.fixed-menu-success {
  background-color: #f4f3f3;
  height: 14vmin;
  position:fixed;
  bottom: 0;
  width: 100%;
  /* padding-bottom: 2.2vmin; A voir avec BEN */ 
}

@media only screen and (min-width: 576px) {
  .menu-success {
      display:none;
  }
}
/*  END SUCCESS screen*/

/*  START BASKET screen */
.menu-success{
  background-color: #791212 ;
  height: 14vmin;
  position:fixed;
  bottom: 0;
  width: 100%;
  justify-content: center;
}
.success-title{
margin-bottom: 3vmax;
}

.menu-basket-text{
  color: #f4f3f3;
  font-size: 1.643em;
}

.menu-basket{
  justify-content: flex-end;
  padding-bottom: 1vmax;
}

@media only screen and (max-width: 576px) {
  .menu-basket  {
      display:none;
  }
}

/*  END BASKET screen*/

/*  START BOOK screen*/

.grid-container-book {
  padding-top: 6vmin;
  display: grid;
  grid-template-columns: 40vmin 40vmin 40vmin;
  padding-bottom: 8vmin;
}

.grid-item-book {
  margin-bottom: 5vmin;
  font-size: 13px
}

.book-date {
  margin-bottom: 2vmin;
  font-size: 14px
}

.book-time {
  margin-bottom: 2vmin;
  font-size: 12px;
  font-weight: 300
}

.book-stock {
  margin-bottom: 2vmin;
  font-size: 12px;
  font-weight: 300
}

.book-ticket {
  margin-bottom: 2vmin;
  padding-right: 10vmin
} 

.book-button {
  margin-bottom: 2vmin;
  font-size: 12px;
  font-weight: 300
}


/*  END BOOK screen*/




