/* .App {
  text-align: center;
} */

.header-logo {
  height: 7vmin;
  padding: 3vmin;
}

.header-container {
  display: flex;
  background-color: #f4f3f3;
  min-height: 10vh;
  color: black;
  align-items: flex-end;
}

.header-title {

  font-size: calc(5px + 2vmin);
}